.list {
	position: relative;
}

.item {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin-bottom: 5px;
}

.completed {
	text-decoration: line-through;
}

.input {
	position: absolute;
	left: 680px;
	top: 95px;
	border: 3px solid green;
	border-radius: 5px;
	padding: 10px;
}

.btn {
	background-color: red;
	color: white;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 5px;
}

.box {
	position: absolute;
	left: 880px;
	top: 97px;
}

.box__btn {
	border-radius: 5px;
	border: 1px solid transparent;
	margin-left: 5px;
	padding: 10px;
}

.box__btn--all {
	background-color: yellow;
	color: green;
}

.box__btn--all:hover {
	opacity: 0.6;
}

.box__btn--active:hover {
	opacity: 0.6;
}

.box__btn--completed:hover {
	opacity: 0.6;
}

.box__btn--all:active {
	opacity: 0.6;
}

.box__btn--active:active {
	opacity: 0.6;
}

.box__btn--completed:active {
	opacity: 0.6;
}

.box__btn--active {
	background-color: red;
	color: #fff;
}

.box__btn--completed {
	background-color: green;
	color: #fff;
}
